.category {
  display: flex;
  justify-content: center;
  height: 10rem;
  border-radius: 2px;
  overflow: hidden;
  background-color: $red;
  transition: all 0.1s ease-out;
  margin-bottom: 3rem;

  &__container {        
    width: 44%;
    height: 100%;
    min-width: 44%;
    overflow: hidden;
    display: inline-block;
  }
  
  &__image {     
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.1s ease-out;    
  }
  &__name { 
    display: inline-block; 
    padding-left: 1.5rem;
    padding-right: 1rem;
    width: 56%;    
    font-weight:  bold;
    color: $white;
    display: flex;    
    align-items: center;
  }
  &:hover {
    background-color: $black;
    .category__image {
      transform: scale(1.1);
    }
  }
}
