.product{
	margin-bottom: 6rem;

	&__image{
		margin-top: 2rem;
		margin-bottom: 15px;
		width: 100%;
		padding: 0 15px;

		 @media (min-width: 1400px){
            max-width: 500px;
            float: right;
        }
	}

	&__sell {
		padding: 0;

        line-height: 3.5rem;
		text-align: right;
		font-weight: 700;
		font-size: $h2;

		@media (max-width: 767px){
			display: none;
        	line-height: 5rem;
			margin: 2rem 0;
            text-align: left;
        }
	}

	&__sell-mobile {
   display:none;

		@media (max-width: 767px){	
			display: block;		
      line-height: 5rem;
			margin: 2rem 0;
      text-align: left;

    }
		.buy-button {
			margin-top: 1rem;
		}
	}

	&__call{
		padding: 0;

        line-height: 3.5rem;
		text-align: right;
		font-weight: 700;
		font-size: $h2;

		@media (max-width: 991px){
        	line-height: 3rem;
			margin: 2rem 0;
            text-align: left;
        }
	}

	&__call-button {		
			padding: 5px 12px;
			display: inline-block;

			font-size: $h5;
			font-weight: 700;
			line-height: 2.5rem;
			letter-spacing: 0.1rem;
			background-color: $black;
			color: $white;

			cursor: pointer;
			transition: .2s;

			&:hover{
					background-color: $red;
			}
		
	}

	&__phone-label {
		margin-right: .5rem;
	}

	&__phone-input {
		max-width: 200px;		
		display: inline-block;
		
	}
	&__call-description{
		text-align: right;
		font-size: $h5;
		line-height: 1.5;
		@media(max-width: 991px) {
			text-align: left;
		}
	}

	&__thumb{
		padding: 0 7.5px;
	}

	&__preview{
		max-width: 500px;
		padding: 0 7.5px;
        float: left;

        @media (min-width: 1400px){
            float: right;
        }
	}

	&__header{
		color: black;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 2px;
		margin-bottom: 2rem;
		padding: 0;

		@media (min-width: 1120px){
        	margin-top: 3.5rem;
        }

	}

	&__summary{
		line-height: 2.6rem;
		font-size: $h4;
		padding: 0;
	}

	&__subheader{
		color: $black;
		margin-bottom: .5rem;
		margin-top: 0;
	}

	&__subheader--lower-case{
		text-transform: none;
	}

	&__text{
		text-align: justify;
		margin-bottom: 2rem;
	}

	&__price{
		font-size: $h3;
		margin-bottom: 0;
		margin-top: 2rem;
	}

	&__button {
		font-weight: 700;
		color: $red;
		text-transform: uppercase;
		font-size: 2rem;
	}

	&__button:hover {
		color: $black;
		cursor:
		 pointer;
	}

	&__menu{
		display: flex;
    	align-items: flex-end;
		list-style: none;
		padding: 0;
		margin-top: 5rem;
		margin-bottom: 3rem;
		border-bottom: 2px solid $medium-grey;

		@media (max-width: 767px){
            display: block;
            padding: 20px 0;
            border-top: 2px solid $medium-grey;
        }
	}

	&__item{
		margin-right: 6%;
		padding-bottom: .5rem;
		//equal to negative menu border height
		margin-bottom: -2px;
		border-bottom: 2px solid $medium-grey;

		font-size: $h3;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		
		cursor: pointer;
		transition: .2s;

		&:hover{
			color: $red;
		}

		@media (max-width: 1100px){
            max-width: 100px;
            margin-right: 4%;
        }

        @media (max-width: 767px){
        	max-width: 100%;
        	padding: 5px 0;
            border: 0;
        }
	}

	&__item--active{
		color: $red;
		border-bottom: 2px solid $red;
		@media (max-width: 767px){
            border: 0;
        }
	}

	&__files{
		margin-bottom: 3rem;

		a {
			color: $medium-grey;
			transition: .2s;
        	@include links($medium-grey, $medium-grey, $medium-grey, $medium-grey);
		}

		a:hover {
			color: $black;
		}
	}

}

.productBookmark{
	padding: 0;
}