.related-items{
    margin-top: 3rem;    

    &__header {
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    &__divider {
        display: block;
        width: 100%;        
        border-top: 2px solid $light-grey - 70;        
        padding: 0;        
    }
}